/* ----- LANDING ----- */

.banner-image {
  height: 100vh;
  background-image: url('../../images/platoShop.webp');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -10px;
  margin-bottom: 60px;
}

.introduction {
  margin: 40px 100px;
}

/* Gallery */

.gallery {
  margin: 100px 40px;
}

/* Featured Products */

#featuredProdcuts {
  margin: 20px 60px;
}

.featured-container {
  margin-top: 10px;
}